<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Updates</title>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="AD RSS">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="AD RSS">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2F3BA2">


    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

    <link rel="stylesheet" href="styles/styles.css">


</head>

<body ng-app="FeedApp" ng-cloak>
    <div ng-controller="AppCtrl as vm" class="sample" layout="column" ng-cloak>
        <md-content class="md-padding">
            <md-tabs md-selected="vm.selectedIndex" md-border-bottom>
                <md-tab ng-repeat="tab in vm.tabs" ng-disabled="tab.disabled" label="{{tab.title}}" md-on-select="vm.loadData($index)">
                    <div ng-hide="!tab.isLoaded" class="demo-tab">
                        <ul>
                            <li ng-repeat="feed in tab.content">
                                <h5><a class="md-subhead" href="{{feed.link}}">{{feed.title}}</a></h5>
                                <p class="md-body-1" ng-bind-html="feed.contentSnippet"></p>
                                <span class="md-caption">{{feed.publishedDate | customDate : 'mediumDate' }}</span>
                                <md-button class="md-accent" ng-click="vm.showDialog($parent.$index, $index)">More..</md-button>
                            </li>
                        </ul>
                    </div>
                    <div ng-hide="tab.isLoaded">
                        <h3>{{vm.msgLoading}}</h3></div>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <!-- Feed App scripts -->
    <script src="scripts/feed.app.module.js"></script>
    <script src="scripts/feed.service.js"></script>
    <script src="scripts/feed.controller.js"></script>
    <script src="scripts/feed.filter.js"></script>

</body>

</html>