/* Styles go here */

/* tab styles */


/* list styles */
#list{
  background-color:#eee;
}

.md-whiteframe-1dp a {
  text-decoration: none;
}

.md-chip-content {
  font-size: 12px;
}

md-chips .md-chips {
  box-shadow: 0px 0px;
}

.md-chips md-chip {
  height: 16px;
  line-height: 16px;
  border-radius: 8px;
  margin: 4px 4px 0px 0px;
  padding: 0px 6px;
}

.selected {
  margin-left: -5px;
  border-left: 5px solid purple;
}

.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}
.fade.ng-enter.ng-enter-active {
  opacity:1;
}
.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}